* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #5f4b8b;
  --secondary-color: #ff725e;
}

section {
  width: 100vw;
  height: 100vh;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.width-100 {
  width: 100vw !important;
}

.height-100 {
  height: 100vh !important;
}

.strike-through {
  position: relative;
}

.strike-through:after {
  position: absolute;
  content: "";
  background-color: #22343e;
  height: 5px;
  right: 0;
  top: 50%;
  left: 0;
  margin-top: 3px;
}

.gradient-text {
  background: -webkit-linear-gradient(#2350a2, #638bb0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
